<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Long Jump Replay" Manufacturer="Long Jump Replay" Version="2.3.0" UpgradeCode="8D2B5F8D-3C6A-4A8E-8D2B-0C3A3B16E2F4" Scope="perMachine">
    <SummaryInformation Description="Live replay and take-off review station for long jump events." />
    <MajorUpgrade DowngradeErrorMessage="A newer version of Long Jump Replay is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <StandardDirectory Id="ProgramFiles6432Folder"><Directory Id="INSTALLFOLDER" Name="LongJumpReplay" /></StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder"><Directory Id="APPLICATIONPROGRAMSFOLDER" Name="Long Jump Replay" /></StandardDirectory>
    <Feature Id="MainFeature" Title="Long Jump Replay" Level="1">
      <ComponentGroupRef Id="ApplicationFiles" />
      <ComponentGroupRef Id="Shortcuts" />
    </Feature>
    <ComponentGroup Id="ApplicationFiles" Directory="INSTALLFOLDER">
      <Component Id="MainExecutable" Guid="*"><File Id="LongJumpReplayExe" Source="$(var.BinDir)\LongJumpReplay.exe" KeyPath="yes" /></Component>
      <Component Id="Readme" Guid="*"><File Id="ReadmeFile" Source="$(var.ProjectDir)\README_SHARE.txt" /></Component>
      <Component Id="ThirdPartyNotices" Guid="*"><File Id="ThirdPartyNoticesFile" Source="$(var.ProjectDir)\THIRD_PARTY_NOTICES.txt" /></Component>
    </ComponentGroup>
    <ComponentGroup Id="Shortcuts" Directory="APPLICATIONPROGRAMSFOLDER">
      <Component Id="StartMenuShortcut" Guid="*">
        <Shortcut Id="StartMenuShortcutFile" Name="Long Jump Replay" Description="Open the Long Jump Replay judge station" Target="[INSTALLFOLDER]LongJumpReplay.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveStartMenuFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\LongJumpReplay" Name="StartMenuShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Package>
</Wix>
